@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
	background-color: rgb(143, 255, 130, 0.2);
}

* {
	margin: 0px;
}

header {
	top: 0px;
	font-family: 'Inter', sans-serif;
	color: black;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: rgb(0, 0, 0, 0.16);
	background-color: #fdcae1;
	-moz-box-shadow: 3px 3px 5px 6px rgb(0,0,0);
	-webkit-box-shadow: 3px 3px 5px 6px rgb(0,0,0);
	box-shadow: 3px 3px 5px 6px rgba(204, 204, 204, 0.5);
	height: 180px;
	width: 100%;
}

.ctn-header {
	text-align: center;
}

.heart {
	width: 50px;
	height: 50px;
	transform: rotate(45deg);
	background: rgb(143, 255, 130, 1);
	position: relative;
	top: -5rem;
	left: 50%;
	animation: beating 2s ease infinite;
}

.heart:before,
.heart:after {
	content: "";
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: rgb(143, 255, 130, 1);
	position: absolute;
}

.heart:before {
  top: 0;
  left: -25px;
}

.heart:after {
  top: -25px;
}

@keyframes beating {
  0% {
  	transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.1);
  }
  100% {
  	transform: rotate(45deg) scale(1);
  }
}

@media only screen and (max-width: 457px) {
	.heart {
		visibility: hidden;
	}
}

.ctn-center {
  font-family: font-family: 'Inter', sans-serif;;
}